<div ng-controller = "AuthController">
  <ul class="nav nav-tabs">
    <li ng-if="!loggedIn()" role="presentation" ><a ng-click="login()">Login with Github</a></li>
    <li ng-if="loggedIn()" role="presentation" ><a ng-click="logout()">Log Out</a></li>
  </ul>
</div>





<!--

 <p>Hello, {{ user.displayName }} |
    <a href="/">Kitchen</a> |
    <a href="/logout">Log Out</a>
  </p>
  <p>Please log in to start! |
    <a href="/">Kitchen</a> |
    <a href="/auth/github">Login with Github</a>
  </p>


<p>ID: {{ user.id }}<br>
Username: {{ user.username }}<br>
Name: {{ user.displayName }}<br>
Profile Pic: <img src="{{ user._json.avatar_url }}"></p></p> -->